$brand-primary:             #00a9e8 !default;
$brand-success:             #52be7f !default;
$brand-info:                #4fc3f7 !default;
$brand-warning:             #fff4de !default;
$brand-danger:              #ee6e73 !default;
